#mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.title {
  font-size: 4rem;
  font-family: "Source Code Pro", monospace;
  color: #fff;
}

.bgCursor {
  height: 100vh;
  background: rgb(21, 21, 55);
  background: linear-gradient(0deg, rgb(52, 79, 167) 28%, rgb(33, 33, 85) 95%);
}
