#navbar {
  position: fixed;
  overflow: hidden;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  width: 100%;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
}

.logo {
  margin: 0 0 0 50px;
}
.logo a {
  font-size: 40px;
  text-decoration: none;
  outline: none;
  border: none;
  color: #35ba87;
}

.linkBtn {
  display: flex;
}
.linkBtnBox {
  display: flex;
  align-items: center;
  margin: 0 30px 0 10px;
}
.linkBtnBox p {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

.linkBtn a {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

.iconLogin {
  height: 1.5rem;
  width: 1.5rem;
}
.iconLogout {
  height: 1.5rem;
  width: 1.5rem;
}
